@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  /*background-color: #344a5f;*/
  background-color: #efefef;
}

.app__right {
  width: 100%;
  background-color: #344a5f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  flex: 0.3;
}

.app__righttitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__righttitle h2 {
  font-family: "Rubik", sans-serif;
  color: #a5bace;
}

.app__rightfooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-family: "Rubik", sans-serif;
  color: #f0f1f2;
  font-size: 12px;
}

.app__rightup {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex: 0.5;
}

.app__rightbot {
  justify-content: center;
  align-items: center;
  display: flex;
}

.app__left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.7;
}

.right_l {
  display: flex;
}
.right_r {
  display: flex;
}
