.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  background-color: #344a5f;
}

.app__right {
  width: 100%;
  height: 100vh;
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex: 0.4;
}

.app__left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  flex: 0.6;
}

.right_l {
  display: flex;
  flex: 0.4;
}
.right_r {
  display: flex;
  flex: 0.6;
}
