.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__top {
  height: 400px;
  width: 100%;
}

.app__bot {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
